<div class="sidebar">
  <!-- Sidebar content, links, or navigation -->
  <ul>
    <li><a href="/admin/dashboard">Home</a></li>
    <li><a href="/admin/newNews">Post Articles</a></li>
    <li><a href="/admin/unpublished">Unpublished Articles</a></li>
    <li><a href="/admin/allArticles">All Articles</a></li>
    <li><a href="/admin/createEvent">Post Event</a></li>
    <li><a href="/admin/allEvents">All Events</a></li>
    <li><a href="/admin/createAdv">Post Advertisement</a></li>
    <li><a href="/admin/allAdvertisements">All Advertisements</a></li>
    <li><a href="/admin/addAdmin">Add Reporter</a></li>
    <li><a href="/admin/allAdmins">Show Reporters</a></li>
    <li><a href="/admin/allUsers">Show Users</a></li>
    <li><a href="/admin/gallery">Gallery</a></li>
    <li><a href="/articlePrintLayout">Backup Articles</a></li>
    <li><a href="/owner/editCredentials">Change Password</a></li>
    <li><a href="/logout">Logout</a></li>
   
  </ul>
</div>
