<div class="sidebar">
  <!-- Sidebar content, links, or navigation -->
  <ul>
    <li><a href="/admin/dashboard">Home</a></li>
    <li><a href="/admin/newNews">Add Articles</a></li>
    <li><a href="/admin/unpublished">Unpublished Articles</a></li>
    <li><a href="/admin/allArticles">All Articles</a></li>
    <li><a href="/admin/addAdmin">Add Admin</a></li>
    <li><a href="/admin/allAdmins">Show Admins</a></li>
    <li><a href="/admin/allUsers">Show Users</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
