<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- <script type="text/javascript">
      function preventBack() {
          window.history.forward(); 
      }
        
      setTimeout("preventBack()", 0);
        
      window.onunload = function () { null };
  </script> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="../loginPage.css" />
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <title>MERUPU NEWS</title>
  </head>
  <body>
    <nav>
      <img
        src="https://res.cloudinary.com/dydvdhjky/image/upload/v1693678439/brand_assets/logomerupu_fxven7.jpg"
        alt="logo"
      />

      <h4 class="blink" style="width: max-content; display: inline; float: right; margin-right: 33px; margin-top: 19px;">
        <a style="padding: 3px 12px;
          border-radius: 7px;background-color: rgb(250, 254, 134); color: rgb(215, 0, 0); text-decoration: none;font-size: large;
          font-weight: 900;" href="/reporter/signin">REPORTER LOGIN</a>
      </h4>
    </nav>

    <section>
      <div class="container">
        <div class="container_left">
          <img
            src="https://res.cloudinary.com/dydvdhjky/image/upload/v1693678439/brand_assets/logomerupu_fxven7.jpg"
            alt="logo"
          />
          <p>"Stay Informed: Your Daily Dose of Headlines"</p>
          <div class="black-line"></div>

         
        </div>

        <div class="container_right">
          <h1>ADMIN LOGIN</h1>
          <form action="/admin/signin" method="POST" autocomplete="on">
            <label for="email">Email</label>
            <input type="text" name="email" required />
            <label for="password">Password</label>
            <input type="password" name="password" required />
            <button type="submit">
              <i class="bi bi-box-arrow-in-right"></i>Log in
            </button>
          </form>
        </div>
      </div>
    </section>
    
  </body>
</html>
