body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #f1f1f1;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
}

.sidebar a:hover {
    background-color: #ddd;
}

.main-content {
    width: 75%;
    padding: 20px;
}

.card {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.articles-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn-edit, .btn-delete {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.add-admin-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.btn-add-admin {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-add-admin:hover {
    background-color: #45a049;
}


/* ------------------------- */
.main-content {
    width: 75%;
    padding: 20px;
}

.add-admin-form {
    max-width: 400px;
    
    margin: 0 auto; /* To center the form */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    width: 100%;
}

.btn-add-admin {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-add-admin:hover {
    background-color: #45a049;
}