body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C70001;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    height: 112vh;
    /* background-color: #f1f1f1; */
    padding: 20px;
    min-width: min-content;
    background-color: #222; /* Dark background color */
    

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    font-weight: 570;
}

.sidebar a {
    text-decoration: none;
    /* color: #333; */
    color: #fff; /* Set link text color to white */
    transition: background-color 0.2s ease 0s;
    padding: 5px 10px;
    display: block;
}

.sidebar a:hover {
    /* background-color: #ddd; */
    background-color: #444; /* Darker background color on hover */
}

.main-content {
    width: 75%;
    padding: 20px;
}

.card {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.articles-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn-edit, .btn-delete {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.add-admin-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.btn-add-admin {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-add-admin:hover {
    background-color: #45a049;
}



/* ------------------------- */
.main-content {
    width: 75%;
    padding: 20px;
}

.add-admin-form {
    max-width: 400px;
    
    margin: 0 auto; /* To center the form */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    width: 100%;
}

.btn-add-admin {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-add-admin:hover {
    background-color: #45a049;
}

/* ------------------------------------------- */
.event-page #event-title {
    width: calc(100% - 23px); /* Adjust width based on button widths */
}

#select-multiple-btn{
    padding: 2px 6px;
    cursor: pointer;
    background-color: rgba(247, 243, 243, 0.547);
    border-color: #444;
    border-width: 0.5px;
    border-radius: 4px;
    font-weight: 400;
    font-size: small;
}

#smt-btn{
    background-color: #37933a;
    color: white;
    font-size: 17px;
    padding: 4px 32px;
    position: fixed;
    bottom: 0%;
    right: 31%;
    z-index: 1000;
    width: 26%;
    font-weight: 540;
    letter-spacing: 5px;
    text-decoration: none;
    /* border: none; */
    /* border-radius: 5px; */
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;



    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
}

#smt-btn:hover{
   background-color: rgb(226, 0, 0);
}