body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #C70001;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-weight: 570;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  display: block;
}

.sidebar a:hover {
  background-color: #ddd;
}

.main-content {
  width: 75%;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.post-article-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
button.btn-upload-image {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  display: block;
  width: 100%;
  margin-top: 10px;
}

button.btn-upload-image:hover {
  background-color: #0056b3;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  /* New styles for Cloudinary button */
  display: block;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}






/* ------------------------- */
.post-article-page .breaking-news-checkbox {
  display: flex;
 
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(255, 217, 0, 0.104);
}

.post-article-page .breaking-news-checkbox label {
  width:-webkit-fill-available;
  font-weight: bold;
  margin-right: 10px;
}

.post-article-page .breaking-news-checkbox input[type="checkbox"] {
  transform: scale(1.5);
}



/* ----------------------------------- */

.event-page #event-title, #event-url {
  width: calc(100% - 23px); /* Adjust width based on button widths */
}

.adv-page #adv-title, #adv-url {
  width: calc(100% - 23px); /* Adjust width based on button widths */
}


#article-district option{
  font-weight: 600;
}